<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.ryanweddle.sparksdkwrapper">


<application
    android:allowBackup="true"
    android:label="@string/app_name">
    <activity
        android:name=".SparkCall"
        android:label="@string/call_activity_label" />
</application>


</manifest>


